* {
   margin: 0;
   padding: 0;
}
body, html{
   width: 100%;
   height: 100%;
}
#canvas {
   display: block;
}


.layers-container {
  position: fixed;
  top: 0;
  color: white;
}

.layers-container button{
  width: 50px;
}

.select-layers-container {
  position: fixed;
  top: 60px;
  color: white;
}

.select-layers-container button{
  width: 50px;
}

.map-levels-container {
  position: fixed;
  top: 140px;
  color: white;
}

.map-levels-container button{
  width: 50px;
}
